
@{
    ViewBag.Title = "DetailsIndex";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Feedback.js"></script>

<h2>DetailsIndex</h2>
<input type="hidden" value="@ViewBag.ID" id="HdnId" />


<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">

                <label><b>Name:-</b></label>
                <span id="txtname"></span>

                <label><b>Email:-</b></label>
                <span id="txtemail"></span>
            </div>
            <div class="col-sm-6">

                <label><b>Mobile:-</b></label>
                <span id="txtmobile"></span>

                <label><b>Feedback:-</b></label>
                <span id="txtFeedback"></span>

            </div>
        </div>

    </div>

</div>


